body {
    font-family: Roboto, sans-serif;
    margin: 0;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.header {
    background-color: #1f2937;
    padding: 12px 48px;
}

.header-top {
    display: flex;
    justify-content: space-between;
}

.hero-logo-text {
    font-size: 24px;
    color: #f9faf8;
}

.links {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 16px;
}

.links a, .hero-secondary-text {
    font-size: 18px;
    color: #e5e7eb;
}

.links a {
    text-decoration: none;
}

.header-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    margin: 64px auto;
}

.hero-main-text {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.hero-secondary-text {
    margin: 4px 0 10px;
}

.header-bottom img {
    min-width: 100px;
    max-width: 400px;
    border: #e5e7eb solid 8px;
    border-radius: 4px;
}

.header button {
    background-color: #3882f6;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 7px 30px;
    border: none;
    border-radius: 6px;
}

.info-header {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    text-align: center;
    margin: 48px 0;
}

.info-cards {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-bottom: 80px;
}

.info-card {
    flex-basis: 180px;
}

.info-card img {
    width: 100%;
    border: 6px solid #3882f6;
    border-radius: 8px;
    margin-bottom: 8px;
}

.info-card-text {
    text-align: center;
    font-size: 18px;
}

.quote {
    background-color: #e5e7eb;
    padding: 92px 0;
}

.quote-text {
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
    font-style: italic;
    margin-bottom: 8px;
}

.quote-sayer {
    font-size: 24px;
    font-weight: bold;
    text-align: end;
}

.call-to-action-box {
    display: flex;
    background-color: #3882f6;
    border-radius: 8px;
    margin: 80px 0;
    padding: 40px 80px;
}